.c-work {
    padding-top: 0;
    
    >.l-container {
        border-top: 1px solid #000;
        padding: 0;
        max-width: 1010px !important;
        padding-top: 50px;
    }
}
.c-product__bottom {
    @include flex(stretch, center);
    position: relative;
    @include sp {
        flex-direction: column;
    }
}