/* layout
------------------------------------------------------------*/
body{
	font-family: $mainFonts;
	font-size: 1.4rem;
	min-width: $baseWidth;
	line-height: 1.5;
	@include sp {
		min-width: 320px;
	}
}
//-------------------------------------------------------
main{
	// padding: 0px 0 100px;
}

//-------------------------------------------------------
.l-container{
	max-width: $baseWidth;
	margin: 0 auto;
	padding: 0 15px;
	@include sp {
		max-width: 100%;
		padding: 0 10px;
	}
}
//-------------------------------------------------------


