<footer class="c-footer">
  <div class="c-footer__top">
    <div class="l-container">
      <div class="c-footer__left">
        <div class="c-footer__email">
          <p>Email </p>
          <p>
            <a href="mailto:info@goldenboxstudios.com">
              info@goldenboxstudios.com
            </a>
          </p>
        </div>
        <div class="c-footer__tel">
          <p>Tel</p>
          <p>
            <a href="tel:+84 979 872 809">
              +84 979 872 809
            </a>
          </p>
        </div>
      </div>
      <div class="c-footer__right">
          <p>
            If you have any questions,
          </p>
          <p>
            comments or
          </p>
          <p>
            suggestions, feel free to email
          </p>
          <p>
            us or send us a message.
          </p>
      </div>
    </div>
  </div>
  <div class="c-footer__bot">
    <div class="l-container">
      <div class="c-footer__left">
        <div class="c-footer__address">
          <p>
            andress
          </p>
          <p>
            04 bau cat district tan binh
          </p>
          <p>
            ho chi minh city.
          </p>
        </div>
      </div>
      <div class="c-footer__right c-footer__right--r">
        <form action="">
          <div class="form">
            <div class="form__left">
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Your Name" name="name" id='name' required />
                <label for="name" class="form__label">Your Name</label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Phone" name="phone" id='phone' required />
                <label for="name" class="form__label">Phone</label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Email" name="email" id='email' required />
                <label for="name" class="form__label">Email</label>
              </div>
            </div>
            <div class="form__right">
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Subject" name="subject" id='subject' required />
                <label for="name" class="form__label">Subject</label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Message" name="message" id='message' required />
                <label for="name" class="form__label">Message</label>
              </div>
            </div>
          </div>
          <button type="submit" class="c-send">SEND</button>
        </form>
      </div>
    </div>
    <div class="c-footer__backtop">
      <a href="#">
        <img src="/assets/img/backtop.png" alt="">
      </a>
    </div>
    <div class="c-footer__copyright">
      <p>© 2018 GBOX STUDIO. All rights reserved</p>
    </div>
  </div>
</footer>