//baseWidth
$baseWidth:980px;

$mainFonts : "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$textColor: #171717;
$bgColor: #ffde00;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;